*{
    background-color: black;
}
.silver{
    color: rgb(107, 106, 106);
}
.red{
    color: red;;
}
.green{
    color: lawngreen;
}
.black{
    color: black;
}
.btncolor{
    background-color: black;
    color: white;
}
.back{
    background-color: #144552;
}
.yellow{
    color: yellow;
}
.aqua{
    color: aqua;
}
.orange{
    color: orange;
}
.white{
    color: whitesmoke;
}