<form action="" class="form-inline">
    <div class="form-group">
        <input class="form-control shadow-none" type="text" placeholder="Enter Name" [(ngModel)] ="username" name="username" (keyup)="findUserProfile()">
    </div>
</form>
<div appBackground class="row">
    <div class="outer col-md-3">
        <div class="">
            <img *ngIf="userProfile" class="img-circle rounded-circle  img-progressive" src="{{userProfile.avatar_url}} || ../../../assets/uwp1786364.jpeg"  width=200 height="200" alt="">
        </div>
        <div>
            <h5>
                <a href="{{userProfile.url}}">
                    <b>{{userProfile.name}}</b>
                </a>
            </h5>
            <p class="silver">
                <a href="{{userProfile.url}}">
                    {{userProfile.login}}
                </a>
            </p>
        </div>
        <button class="profilebtn btn btn-dark">Edit userProfile</button>
        <p>{{userProfile.bio}}</p>
        <div>
            <i class="green fas fa-users"></i>
            <span>
                <a href="{{userProfile.followers_url}}">
                    <b class="red"> {{userProfile.followers}} </b> Followers
                </a> 
                <!-- <b>Followers numebrs.</b> -->

                <a href="{{userProfile.following_url}}">
                    <b class="red"> {{userProfile.following}} </b> Following
                </a>
            </span>
            <!-- <b>Following numebrs.</b> -->
        </div>
        <div>
            <!-- <h5>Location</h5> -->
            <i class="red fas fa-map-marker-alt"></i>
            <span> {{userProfile.location}}</span>
            <br>
            <!-- email -->
            <i class="green far fa-envelope"></i>
            <span class="silver"> {{userProfile.email}}</span>
        </div>
    </div>

    <div class="col-md-9 card repos">
        <ul>
            <li>
                <a target="_blank" href="https://github.com/twstoly">
                    <i class="red fas fa-book-open"></i> Overview
                </a>
            <li>
                <a target="_blank" href="{{userProfile.repos_url}}">
                    <i class="green fas fa-award"></i> Repositories <b class="silver"> {{userProfile.public_repos}} </b>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/twstoly?tab=packages">
                    <i class="yellow fas fa-box-open"></i> Packages
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/twstoly?tab=projects&type=beta">
                    <i class="orange fas fa-tasks"></i> Projects
                </a>
            </li>
            <li>
                <a target="_blank" href="{{userProfile.starred_url}}">
                    <i class="aqua far fa-star"></i> Stars <b class="silver"></b>
                </a>
            </li>
        </ul>

        <hr>

        <h5><b>Popular Repositories</b></h5>
        <div class="row">
            <div class="col-md-6" *ngFor="let repo of userRepos">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">
                        <a target="_blank" href="{{repo.html_url}} "> {{repo.name}}  </a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <span>{{repo.visibility}}</span> </h6>
                    <p class="card-text">{{repo.description}}</p>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Ad astra</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <span>public</span> </h6>
                    <p class="card-text">The design reinvents the museum’s public spaces through a continuous stainless steel surface that moves lithely through
                        the museum’s interior and exterior spaces. Wall and ceiling become one fluid surface which captures the spatial volume
                        while guiding the public through entry points, wrapping event and gathering spaces, and leading on to the galleries.</p>
                    <a class="card-link">MIT License</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Hitch Guide</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <span>public</span> </h6>
                    <p class="card-text">Crafted of patinaed zinc, high performance glazing, and stainless steel, the building has a timeless appearance and
                        extraordinary durability in the northern climate. Transparent glazing planes and reflective metal surfaces animate the
                        building, exposing the activities within and engaging people and art at multiple levels on both the interior and exterior.</p>
                    <a class="card-link">MIT License</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">twst</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <span>public</span> </h6>
                    <p class="card-text">The new Art Gallery of Alberta is an engaging and inviting visual arts center in downtown Edmonton, Alberta. Celebrating
                        its prominent location on Sir Winston Churchill Square, the city’s arts and government core, the building’s architectural
                        design formally and philosophically extends out into the community, welcoming visitors of all ages and backgrounds to
                        experience contemporary art firsthand. Designed by Los Angels-based Randall Stout Architects, the Gallery will open to
                        the public in January 2010.</p>
                    <a class="card-link">MIT LIcense</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





























